*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    /* height: 100vh; */
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png),url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, top left 30px ;
}


nav{
    margin-left: 230px;
    margin-right: 230px;
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    /* position: sticky;
    top: 0px; */
}

nav h3{
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}
nav h3 span{
    color:#FD6E0A;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

nav ul li button{
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
}
nav ul li button a{
    color: #ffff;
    font-size: 20px;
    font-weight: 700;
}

.hero_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.title{
    padding-left: 230px;
}
.title h4{
    color:  #474747;
    font-size: 45px;
    font-weight: 600;
}
.title h3{
    color:  #181818;
    font-size: 85px;
    font-weight: 700;

}
.title p{
    width: 585px;
    color: #757575;
    font-size: 18px;
    font-weight: 400; 
}
.cv{
    width: 200px;
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;

}

.cv a{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}


.title .contact{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
}
.title .contact a{
    color: #FD6E0A;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}
.cv,
.title .contact{
    margin-top: 30px;
}
.title .cv i,
.title .contact i{
    margin-right: 5px;
}

.hero_content .profile_pic{
    display: flex;
    align-items: flex-end;
}
.hero_content .profile_pic img{
    width: 584px;
    height: 676px;  
}




main{
    margin-top: 130px;
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 150px;
}
.about{
    height: 550px;
    padding: 0px 156px 0px 156px;
    background: #FFF8F3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about p{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.about h3{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.about .Profile_box{
    padding: 0px 11px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}



 .name h4,
 .email h4,
 .birth_date h4,
.location h4{
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.name h3,
.email h3,
.birth_date h3,
.location h3{
   color: #474747;
   text-align: center;
   font-size: 20px;
   font-weight: 600;
   line-height: 30px;
}


.what_i_do{
    height: 550px;
    margin-top: 150px;
    margin-bottom: 200px;
}

.what_i_do > h3{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.what_i_do > p{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin:30px 156px 30px 157px
}

.skill_container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.skill_cart{
    width: 267px;
    height: 377px;
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill_cart img{
    width: 44px;
    height: 44px;
    margin-bottom: 30px;
}

.skill_cart h3{
    color:  #181818;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.skill_cart p{

    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.summary{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.summary > h3{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 80px;
}

.resume_container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.resume_left .my_edu h3,
.resume_right .my_exp h3{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
}
.resume_left .my_edu  h4,
.resume_right .my_exp h4{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}
.resume_left .my_edu h5,
.resume_right .my_exp h5{
    color: #474747;
    font-size: 20px;
    font-weight: 600;
}

.resume_left .my_edu  p,
.resume_right .my_exp p{
    width: 511px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
}

hr{
    height: 1px;
    background: #D1D1D1;
    margin-top: 30px;
    margin-bottom: 30px;

}
footer{
    background-color:#FFF8F3;
    display: flex;
    padding-left:230px;
    padding-right: 230px;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.connect h3,
.message h3{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}
.connect p{
    width: 562px;
    color:  #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
}
.connect .icons a img{
    width: 24px;
    height: 24px;
    margin-right: 24px;
    margin-top: 30px;

}

.message [type="text"]{
    width: 461px;
    height: 64px;
    outline: none;
    border-radius: 5px;
    background:  #FFF;
    margin-bottom: 30px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 10px;

}
.message textarea{
    width: 461px;
    height: 180px;
    margin-bottom: 42px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    outline: none;
    border: none;
    padding: 5px 0px 0px 10px;
}

.message button{
    width: 200px;
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
}

.hide{
    display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header{
        height: auto;
        background-image: url(images/header_bg.png);
    }
    nav{
        flex-direction: column;
        margin-bottom: 100px;
        
    }


    .hero_content{
        height: auto;
    }
    .title p{
        width: auto; 
    }
    
    .title{
        padding: 30px;
    }
    .hero_content{
        flex-direction: column;
    }
    .hero_content .profile_pic img {
        width: 450px;
        height: 576px;
    }
    .profile_pic{
        flex-direction: column;
    }

    main{
        margin: 30px;
    }
    .about
    {
        height: auto;
        padding:30px;

    }
    .about .Profile_box{
        flex-direction: column;
        align-items: center;
    }

  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    
  }




